<div class="container-fluid">
  <div class="well row">
    <div class="col-xs-12">
      <h1>Select a country and Enter a zipcode</h1>
    </div>
    <div class="col-xs-3">
      <app-auto-complete (selected)="countryCode = $event" [items]="items$ | async"></app-auto-complete>
    </div>
    <div class="col-xs-3">
      <input
        class="form-control"
        placeholder="Zipcode"
        type="text"
        [formControl]="zipcode"
      />
      <br />
  </div>
  <br>
  <div class="col-xs-12">
    <app-save-button [isLoading]="isLoading" (clicked)="onAddLocation()">
      <div class="btn default-btn" default>
        Add Location
      </div>
      <div class="btn working-btn" [attr.disabled]="isLoading" working>
        Adding ...
      </div>
      <div class="btn done-btn" done>
        <img class="small" src="assets/icons/checked.png"> Done
      </div>
    </app-save-button>
  </div>
</div>
