<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{cityName}} ({{zipcode}})</h3>

    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of forecast">
        {{item.day | date: 'EEEE, MMM d' }}:
        {{item.currentCondition}}
        - Min: {{item.temperature.min}} 
        - Max: {{item.temperature.max}}

        <img class="icon" [src]="item.currentCondition | setImage ">
      </li>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" routerLink="/">&lt; Back to main page</button>
</div>