<div class="container-fluid">
  <div class="well flex" >
      <div>
          <h3>{{location.name}} ({{location.zipcode}})</h3>
          <h4>Current conditions: {{location.currentCondition}}</h4>
          <h4>Temperatures today:</h4>
          <p>Current {{location.temperature.temp}} - Max {{location.temperature.tempMax}} - Min {{location.temperature.tempMin}}</p>
          <p>
              <a [routerLink]="'/forecast/' + location.zipcode"
                  >Show 5-day forecast for {{location.name}}</a
              >
          </p>
      </div>
      <div>
          <span class="close" (click)="onRemove()">×</span>
          <img
              [src]="location.currentCondition | setImage"
          />
      </div>
  </div>
</div>