/* Add application styles & imports to this file! */
@import '~@angular/cdk/overlay-prebuilt.css';

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body {
  padding: 0;
}

.icon {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 20px;
    top: -2px;
}

img.small {
  width: 15px;
  height: 15px;
}
